@model Mascot

@{
    ViewBag.Title = "Home Page";
}

<link rel="prerender" href="/home/champions">

<div class="column">
    <img src="//mascots-imgs.azurewebsites.net/content/images/welcome.png" alt="" />
    
    <p>
        Join us in congratulating all of the winners of @DateTime.Now.Year's Mascot Mania contest!
    </p>
    <p>
        All 160 mascots competed in grueling games of hilarity, including the dunk tank toss, potato sak relay and dodge-pie. There are individual winners from each league, with one overall winner: the @Model.Team.League.Name League's own @Model.Name rooting on the @Model.Team.Name.
    </p>
    <p>
        <strong><a href="/home/champions">See All the Winners!</a></strong>
    </p>

    <h1>Congratulations @Model.Name!</h1>

    <img src="//mascots-imgs.azurewebsites.net/Content/Images/MascotLarge/@(Model.Slug).png" style="width: 95%" />
</div>

<div class="column" style="text-align: center;">
    <h1>MiLB Leagues</h1>

    <a href="/home/league/all"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/milb.png"></a>

    <a href="/home/league/appalachian"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/appalachian.png" style="float: left;"></a>
    <a href="/home/league/california"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/california.png" style="float: right;"></a>

    <a href="/home/league/carolina"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/carolina.png" style="float: left;"></a>
    <a href="/home/league/eastern"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/eastern.png"></a>
    <a href="/home/league/florida-state"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/florida-state.png" style="float: right;"></a>

    <a href="/home/league/international"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/international.png" style="float: left;"></a>
    <a href="/home/league/midwest"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/midwest.png"></a>
    <a href="/home/league/new-york-penn"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/new-york-penn.png" style="float: right;"></a>
    
    <a href="/home/league/pacific-coast"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/pacific-coast.png" style="float: left;"></a>
    <a href="/home/league/northwest"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/northwest.png" style="float: right;"></a>

    <a href="/home/league/south-atlantic"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/south-atlantic.png" style="float: left;"></a>
    <a href="/home/league/southern"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/southern.png" style="float: right;"></a>

    <a href="/home/league/pioneer"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/pioneer.png" style="float: left;"></a>
    <a href="/home/league/texas"><img src="//mascots-imgs.azurewebsites.net/Content/Images/League/texas.png" style="float: right;"></a>
</div>