@Html.FlushHead()
                    @RenderBody()
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer_center">
            <div class="footer_ball"><div class="ball"></div></div>
            <div class="footer_text">
                Full Stack Web Performance © @DateTime.Now.Year. All Rights Reserved.
            </div>
        </div>
    </footer>

    @*<script src="~/Scripts/jquery-2.1.0.js"></script>
        <script src="~/Scripts/timing.js"></script>
        <script src="~/Scripts/rum.js"></script>*@
    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", required: false)


    <!-- {@if (ViewBag.QueryTime != null) { <text>"db": @ViewBag.QueryTime,</text>}@if (ViewBag.ActionTime != null){ <text>"action": @ViewBag.ActionTime</text>} } -->
    
</body>
</html>