<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascots of MiLB - @ViewBag.Title</title>
    @RenderSection("meta", required:false)

    @*@Styles.Render("~/Content/css")*@

    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/validation.css" rel="stylesheet" />
    <link href="~/Content/screen.css" rel="stylesheet" />
    @RenderSection("style", required: false)
</head>
<body>
    <div id="container">
        <header>
            <div id="header_center">
                <div class="line_logo">
                    <a href="/"><div class="logo"></div></a>
                </div>
            </div>
        </header>
        <div id="content">
            <div class="content">
                <div class="content">
                    @*<script type="text/javascript" src="/Home/ThirdPartyScript"></script>*@

                    @RenderBody()
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer_center">
            <div class="footer_ball"><div class="ball"></div></div>
            <div class="footer_text">
                Full Stack Web Performance © @DateTime.Now.Year. All Rights Reserved.
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-2.1.0.js"></script>
    @RenderSection("scripts", required:false)

</body>

</html>
